[submodule "core/src/main/resources/mappings"]
	path = core/src/main/resources/mappings
	url = https://github.com/GeyserMC/mappings.git
[submodule "core/src/main/resources/languages"]
	path = core/src/main/resources/languages
	url = git@github.com:VisantaraDevelopment/geyser-languages.git
